# Python Virtual Environment
.venv/
venv/
env/

# Node Modules (Frontend)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables (RAHASIA - JANGAN DI COMMIT)
.env
.env.local

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db